.signup-form form {

    gap: 16px;

    display: flex;
    flex-direction: column;

}

.passwordReset-form form {

    gap: 16px;

    display: flex;
    flex-direction: column;

}

.passwordChange-form form {

    gap: 16px;

    display: flex;
    flex-direction: column;

}
