.login-modal form {

    gap: 16px;

    display: flex;
    flex-direction: column;

    .hbox {
        button {
            width:100%;
        }
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

}

